*{
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}


.welcome-banner {
  background: linear-gradient(to right, #83c0f2, #436acd, #002e90);
  border: 2px solid #3498db; 
  padding: 30px;
  text-align: center;
  color: #fff; 
  font-size: 24px;
  height: 300px;
  margin-bottom: 100px;
  margin-top: 170px;
  border-radius: 30px;

}

.welcome-banner h1 {
  font-family: sans-serif; 
  font-size: 46px; 
  color: #fff; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 90px;
}

.welcome-banner p {
  font-family: sans-serif; 
  font-size: 24px; 
  color: #f2eaea; 
  text-transform: uppercase; 
  letter-spacing:1.5px; 
  text-shadow: 2px 2px 4px rgba(0, 0.5, 0, 0.5); 
}

  .main-content {
    width: 80%;
  }

  .horizontal-line {
    margin: 40px auto; 
    border: none;
    border-top: 2px solid #ddd; 
    width: 95%; 
  }

